/*este es el estilo del formulario que sube la informacion al index no inclulle el menu*/
*{
	margin:0;
	padding:0;
 }

.contenido{
	position: relative;
	width: 100%;
	height: 150px;
	overflow: hidden;
}

.logo{
	width: 10%;
	position: absolute;
	top: 40px;
	margin-left: 40px;
}

.formu_login{
	margin-top: 30px;
	margin-left: 60%;
	overflow: hidden;
}

.formu_login button{
	margin-top: 24px;
}

.formusu{
	margin-left: 15%;
}

header ul li a{
	font-size: 20px;
}

.formulariousuario{
	background-color: #ffffff;
	height: 840px;
}

.formulariousuario h4{
	margin: 2px;
}

.contenido_lugar_video{
	height:400px;
	width: 100%;
}

/*.e64Video{
	width: 60%;
	overflow: hidden;
}*/

/*.e64Public1{
	width: 10%;
	height: 199px
}

.e64Public2{
	margin-top: 30px;
	overflow: hidden;
}*/

.AboutUs{
	background-image: url('../Imagen/wer.jpg');
	height: 800px;
	width: 90%;
	margin-left: 5%;
}

.AboutUs h1{
	color: #FFFF00;
	text-align: center;
}

.AboutUs p{
	color: white;
	font-size: 20px;
}

.AboutUs h2{
	color: #04B45F;
}

.R_Contraseña{
	margin-left: 65%;
	margin-top: -15px;
	font-size: 20px;
}

.registrarme{


	font-size: 20px;
	overflow: hidden;
}

.usa h1{
	color: #FFFF00;
	text-align: center;
}

.usa ol{
color: white;
margin-left: 30px;
}

.usa{
	background-image: url('../Imagen/were.jpg');
	margin-left: 5%;
	height: 550px;
	width: 90%;
}

.contactenos{
	background-image: url('../Imagen/nes.jpg');
}

.contactenos form{
	width: 390px;
	border-radius: 3px;
	box-shadow: inset 0 0 250px #000;
	margin-left: 73%;
}

.contactenos form h3{
	text-align: center;
	color:#CEF6EC;
}

.contactenos form input{
	text-align: center;
}

form textarea{
	width: 280px;
	height: 120px;
	margin: 40px 60px;
	color: #6d6d6d;
	text-align: center;

}

form a{
	margin: 20px 0px 30px 30px;
	background: -moz-linear-gradient(top, #3c3c3c 0%, #2a2828 100%); /* FFF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04B486),color-stop(100%,#04B486));
	background: webkit-gradient-gradient(top, #3c3c3c 0%, #2a2828 100%);/*chrome10+,Safari5.1+*/
	background: -o-linear-gradient(top, #3c3c3c 0%, #2a2828 100%);/*Opera 11.10+*/
	background: -ms-linear-gradient(top, #3c3c3c 0%, #2a2828 100%);/*IE10+*/
	background: linear-gradient(to bottom, #3c3c3c  0%,  #2a2828 100% ),/*WEC*/
	border: 1px solid #232323;
	color: #fff;
	box-shadow: 0px 2px 0px #000;
	-moz-box-shadow:0px 2px 0px #000;
	-webkit-box-shadow: 0px 2px 0px #000;
	border-radius: 3px;
	-moz-border-radius:3px;
	border-radius: 3px;
	margin-left: 32%;
}

.social_bookmarks li {
height:57px;
width:57px;
float:left;
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
-ms-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
}

.social_bookmarks .icontwitter{
	background: #D8D8D8 url(//lh6.googleusercontent.com/-4TshwJW7hIE/U4vC2JM25AI/AAAAAAAALLI/tcIkpheXrYU/s114/icon-twitter.png) top left no-repeat;
}

.social_bookmarks .iconfacebook{
	background: #E6E6E6 url(//lh5.googleusercontent.com/-nt-UdZG1ns0/U4vC1v57lwI/AAAAAAAALLQ/pAOWjEBSnSg/s114/icon-facebook.png) top left no-repeat;
}

.social_bookmarks .iconfacebook:hover{
	background-position:center -57px;
	background-color: #37589b;
}

.social_bookmarks .icontwitter:hover{
	background-position:center -57px;
	background-color: #46d4fe;
}

.icontwitter{
	margin-left: 60px;
}

.iconfacebook{
	margin-left: 2px;
}
