/*este es el estilo del formulario que sube la informacion al index no inclulle el menu*/
*{
	margin:0;
	padding:0;
 }


.AboutUs{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 4%;
}

h1{
	color: #FFFF00;
	text-align: center;
}

p{
	color: white;
	text-align: center;
}

h2{
	color: #04B45F;
}
