/*este es el estilo del formulario que sube la informacion al index no inclulle el menu*/
*{
	margin:0;
	padding:0;
 }


.AboutUs{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 4%;
}

h1{
	color: #FFFF00;
	text-align: center;
}

p{
	color: white;
	text-align: center;
}

h2{
	color: #04B45F;
}

.parte_negra_menu{
	background: black;
	width: 100%;
	height: 150px;
}

.login{
	margin-top: -35px;
	margin-left: 65%;
}

.R_Contraseña{
	margin-left: 65%;
	margin-top: -15px;
}
