/*este es el estilo del menu del administrador*/
header{
	width: 100%;
	margin: auto;
	margin: 0;
	padding: 0;
}

.parte_negra_menu{
	background-color: #000000;
	height: 130px;
}

.logo{
	width: 10%;
	position: absolute;
	top: 30px;
	margin-left: 40px;
}

#inicio_principal{
	height: 580px;
	width:100%;
	background: #ffffff;
}

.session{
	margin-top: 60px;
	margin-left: 85%;
	position: absolute;
}

.menu_admin{
height: 1000px;
width: 80%;
display: none;
}

nav{
	position: relative;
	z-index: 99999999;
}

nav ul{
	list-style: none;
	overflow: hidden;
	background: #616161;
}

nav > ul > li{
	float: left;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	display: block;
	margin-left: 25px;
	font-size: 20px;
	height:65px;
}

nav ul li a:hover{
	background: #787878;
}

nav > ul > li:hover div{
	display: table;
	height: 100px;
}

nav ul li div {
	width: 177px;
	position: absolute;
	left: 247px;
	background:#ff4f4f;
	display: none;
}

nav ul li .Asignacion {
	width: 215px;
	position: absolute;
	left: 1080px;
	background:#ff4f4f;
	display: none;
}


/*aqui termina la parte del menu*/

.consultar_bono{
	margin-left: 250px;
	margin-top: 50px;
}
