/*este es el estilo del menu del administrador*/
header{
	width: 100%;
	margin: auto;
	margin: 0;
	padding: 0;
}

.parte_negra_menu{
	background-color: #000000;
	height: 130px;
}

#inicio_principal{
	height: 580px;
	width:100%;
	background: #0cad09;
}

.menu_admin{
height: 1000px;
width: 80%;
display: none;
}

nav{
	position: relative;
}

nav ul{
	list-style: none;
	overflow: hidden;
	background: #ff4f4f;
}

nav > ul > li{
	float: left;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	display: block;
	margin-left: 25px;
	font-size: 20px;
	height:65px;
}

nav ul li a:hover{
	background: #ff9696;
}

nav > ul > li:hover div{
	display: table;
	height: 100px;
}

nav ul li div {
	width: 177px;
	position: absolute;
	left: 247px;
	background:#ff4f4f;
	display: none;
}

/*aqui termina la parte del menu*/
