
	 body {
	margin: 0%;
	padding: 0%;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background-image: url(../Imagen/ver.jpg); 
	font-size: 1em;
	line-height: 1.5em;
}
 
h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}
 
p {
	margin: 0 0 1.5em 0;
}
 
img {
	width: 90%;
	height: auto;
}

#main-header {
	background:#616161  ;
	color: white;
	height: 80px;
	margin-top: -0px;
}	
	#main-header a {
		color: white;
	}
 
/*
 * Logo
 */
#logo-header {

	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #000;
	}
	
 

#dv_index{
	width: 100%;
	height:auto;

}


/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: ;
					height: 63px;
				}
/*ancho de la mitad*/

				#main-content {
	background: #FAFAFA;
	width: 80%;
	max-width: 100%;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}
 
	#main-content header,
	#main-content .content {
		padding: 45px;
	}
/*esta es la parte q contiene el footer */

	#main-footer {
	text-align: center;
	background: #424242;
	color: white;
	
	padding: 20px;
	margin-top:0px;
}
	#main-footer p {
		margin: 0;
		text-align: center;

	}
	
	#main-footer a {
		color: white;

	}
#aa{
	width: 100%;
	height: 400px;
	margin: 0;
	padding: 0;
}

#aa li{
	display: inline-block;
	height: 190px;
	width: 20%;
	float: left;
	overflow: hidden;
}

#aa li img{
	height: 100px;
	display: inline-block;
}


#aa1{
	width: 100%;
	height: 400px;
	margin: 0;
	padding: 0;

}

#aa1 li{
	display: inline-block;
	width: 20%;
	height: 180px;
	float: left;
	overflow: hidden;
}

#aa1 li img{
	height: 100px;
	display: inline-block;
}

/*logo de gametrade*/
	#e64LogoU{
	width: 52px;
	height: 48px;
	background: url(../imagen/logoU.png) no-repeat;
	display: inline-block;

}

#e64Noticia{
	width: 99%;
	height: 63px;
	background: #FF0000;
	font-size: 40px;
	padding-left: 30px !important;
	padding-top: 5px;
	color: #fff;	
}

#e64ConteNoti{
	width:75%;
	height: 800px;
	display: inline-block;
	background: #000;
	overflow: hidden;
	margin-top: -200px;
}

#res{
	display: inline-block;
	width: 5.3%;
	height: 63.4px;
	background:url(../Imagen/logoU.png);
	margin-top: 5px; 

}

#reso{
	display: inline-block;
	width: 15.2%;
	height: 75px;
	background:url(../Imagen/logoso.png);
	margin-top: -2px; 
	/*float: right;*/
}

#logo-header{
	display: inline-block;
}

.clss{
	float: left;
}

#dvSlider{
	width:100%;
	height: 425px;
	background: url(../Imagen/slider.png);
	overflow: hidden;
	vertical-align: top;


}
/*cuadro que contiene juegos maS vendidos*/
#e63JueDestac{
	width: 100%;
	height: 75px;
	background:#424242 ;
	font-size: 25px;
	
	padding-top: 12px;
	color: #FFF;
	
	text-align: center;
	margin-top: 1px;

}



/*contenedor de buscar*/
.container{
	list-style: none;
	width: 100%;
	height: 533px;
	background: #FFF;
	
	margin-top:0;
	overflow-y: scroll;

	
	 

}


#boton{
	float: right;
	margin-right: 1%;
	margin-top: 1.4%;
}

.juuego{
	list-style: none;
	width: 30%;
	height: 133px;
	background: #585858;
	
	margin-top:0;


	
	 

}
#txtbuscar{
	border-radius: 60px;
	width: 50%;
	height: 20px;
	margin-top: 16px;
	color: #000;
}


#txtbuscar1{
	border-radius: 60px;
	width: 50%;
	height: 20px;
	margin-top: 16px;
	color: #000;
}
.clConteJue{
	width: 25%;
	height: 200px;
background: #fff;
	/*margin-left: 6%;*/
	margin-top: 2%;
	display: inline-block;
}
.clImageJue{
	width: 55%;
	height: 100%;

	display: inline-block;
}
.ulInforJue{
	width: 43%;
	height: 200px;
	background: #fff;
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	margin: 0;
	list-style: none;
	margin-top: 0%;
}
.ulInforJue li{
	width: 100%;
}
/*cuadro que comntiene juegois mas vendidos */
#ulNoticJuer{
	list-style: none;
	width: 100%;
	height: 500px;
	background: #000;
	
	margin-top: 6px;


}

#ulNoticJ{
	list-style: none;
	width: 100%;
	height: 60px;
	background: #e0e0e0  ;
	
	margin-top: -8px;


}

#ulNoticJu{
	list-style: none;
	width: 100%;
	height: 60px;
	background: #e0e0e0  ;
	
	margin-top: 21px;


}




/*cuadro donde contiene juegos mas destacados*/



input[type=text]{
	border: none;
	background: #fff;
	color: #fff;
	width: 40%;
	padding: 5px;
	margin-left: 45px;
}

form{
	width: 98%;
	
	
	padding: 2px 0;
	text-align: center;
	margin-bottom: 20px;
	margin-top: -20px;
}


#fom4 input{
color: #000;
}

#dv_index{

	overflow: hidden;
	vertical-align: top;
}

.cl_incioo{
	margin-top: 30px !important;
	width: 100%;
	height: 450px;


}

#menus li{

	text-align: right;
	float: right;

}

.misa a{
	text-align: cen
}


.tengo{
	color: #000;
}


#inputt{
	float: right;
	margin-right: 1%;
	margin-top: 1.4%;
}


/*esta es la parte para cambiarle el estilo a comprar juegos*/

#srComprs{
	width: 100%;
	height: 400px;
	overflow: scroll;
	
	background: #000;
}

.ulCompr{
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height:10%;
	
}

.ulCompr li{
	display: inline-block;
	width: 20%;
	height: 300px;
	margin-left: 1%;
	margin-top: 2%;

	border: groove 1px;
}
.ulCompr li img{
	width: 100%;
	height: 250px;
}

.ulCompr li a{
	text-align: center;
}


#boto{
	width: 100%;
	height: 47px;
	float: right;
	margin-right: 0%;
	margin-top: -2%;
	background:#585858;
	padding-top:14px;
}

#bot{
	width: 100%;
	height: 127px;
	text-align: center;
	margin-right: 0%;
	margin-top: -2%;
	background:#000;
	padding-top:14px;
}

#bo{
	width: 80%;
	height: 87px;
	/*float: right;*/
	margin-right: 0%;
	margin-top: -2%;
	background:#585858;
	padding-top:14px;
}


/*en esta parte se le camvia el color a las imagenes de misjuegos*/
.ulInforJue{
	background: #fff;
	font-size: 25px;

}