
	 body {
	margin: 0%;
	padding: 0%;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background-image: url(../Imagen/ver.jpg); 
	font-size: 1em;
	line-height: 1.5em;
}
 
h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}
 
p {
	margin: 0 0 1.5em 0;
}
 
img {
	max-width: 100%;
	height: auto;
}

#main-header {
	background: #333;
	color: white;
	height: 80px;
}	
	#main-header a {
		color: white;
	}
 
/*
 * Logo
 */
#logo-header {

	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	
 

#dv_index{
	width: 100%;
	height:auto;

}


/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}
/*ancho de la mitad*/

				#main-content {
	background: #FAFAFA;
	width: 80%;
	max-width: 1300px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}
 
	#main-content header,
	#main-content .content {
		padding: 45px;
	}
/*esta es la parte q contiene el footer */

	#main-footer {
		text-align: center;
	background: #333;
	color: white;
	
	padding: 20px;
	margin-top:-13px;
}
	#main-footer p {
		margin: 0;
		text-align: center;
	}
	
	#main-footer a {
		color: white;

	}


/*logo de gametrade*/
	#e64LogoU{
	width: 52px;
	height: 48px;
	background: url(../imagen/logoU.png) no-repeat;
	display: inline-block;

}

#e64Noticia{
	width: 99%;
	height: 63px;
	background: #FF0000;
	font-size: 40px;
	padding-left: 30px !important;
	padding-top: 5px;
	color: #fff;	
}

#e64ConteNoti{
	width:75%;
	height: 800px;
	display: inline-block;
	background: #000;
	overflow: hidden;
	margin-top: -200px;
}

#res{
	display: inline-block;
	width: 52px;
	height: 48px;
	background:url(../Imagen/logoU.png); 
}

#logo-header{
	display: inline-block;
}



#dvSlider{
	width: 101%;
	height: 450px;
	background: url(../Imagen/slider.png);
	overflow: hidden;
	vertical-align: top;
	margin-top: 0px;


}
/*cuadro que contiene juegos maS vendidos*/
#e63JueDestac{
	width: 81%;
	height: 55px;
	background: #585858;
	font-size: 28px;
	padding-left: 100px;
	padding-top: 18px;
	color: #FFF;
	margin-left: 135px;
	text-align: center;
	margin-top: 70px;

}

#ulNoticJue{
	list-style: none;
	width: 109%;
	height: 700px;
	background: #ff6;
	margin-left: 85px;
	margin-top: 90px;
}

/*contenedor de buscar*/
#ulNoticJ{
	list-style: none;
	width: 90%;
	height: 533px;
	background: #585858;
	margin-left: 85px;
	margin-top: -18px;
}



/*cuadro que comntiene juegois mas vendidos */
#ulNoticJuer{
	list-style: none;
	width: 81%;
	height: 450px;
	background: #848484;
	margin-left: 135px;
	margin-top: 2px;
}

/*cuadro donde contiene juegos mas destacados*/

#e63JueDesta{
	width: 101%;
	height: 68px;
	background: #585858;
	font-size: 28px;
	padding-left: 80px;
	padding-top: 28px;
	color: #fff;
	margin-left: 1px;
	text-align: center;
	margin-top: -28px;
	


}


input[type=text]{
	border: none;
	background: #fff;
	color: #fff;
	width: 40%;
	padding: 5px;
	margin-left: 45px;
}

form{
	width: 98%;
	
	
	padding: 2px 0;
	text-align: center;
	margin-bottom: 20px;
}


#fom4 input{
color: #000;
}

#dv_index{

	overflow: hidden;
	vertical-align: top;
}

.cl_incioo{
	margin-top: 30px !important;
	width: 100%;
	height: 450px;


}