
	 body {
	margin: 0%;
	padding: 0%;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background-image: url(../Imagen/ver.jpg); 
	font-size: 1em;
	line-height: 1.5em;
}
 
h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}
 
p {
	margin: 0 0 1.5em 0;
}
 
img {
	width: 90%;
	height: auto;
}

#main-header {
	background: #333;
	color: white;
	height: 80px;
}	
	#main-header a {
		color: white;
	}
 
/*
 * Logo
 */
#logo-header {

	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	
 

#dv_index{
	width: 100%;
	height:auto;

}


/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}
/*ancho de la mitad*/

				#main-content {
	background: #FAFAFA;
	width: 80%;
	max-width: 100%;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}
 
	#main-content header,
	#main-content .content {
		padding: 45px;
	}
/*esta es la parte q contiene el footer */

	#main-footer {
	text-align: center;
	background: #333;
	color: white;
	
	padding: 20px;
	margin-top:0px;
}
	#main-footer p {
		margin: 0;
		text-align: center;

	}
	
	#main-footer a {
		color: white;

	}
#aa{
	width: 100%;
	height: 400px;
	margin: 0;
	padding: 0;
}

#aa li{
	display: inline-block;
	width: 20%;
	float: left;
	overflow: hidden;
}

#aa li img{
	display: inline-block;
}

/*logo de gametrade*/
	#e64LogoU{
	width: 52px;
	height: 48px;
	background: url(../imagen/logoU.png) no-repeat;
	display: inline-block;

}

#e64Noticia{
	width: 99%;
	height: 63px;
	background: #FF0000;
	font-size: 40px;
	padding-left: 30px !important;
	padding-top: 5px;
	color: #fff;	
}

#e64ConteNoti{
	width:75%;
	height: 800px;
	display: inline-block;
	background: #000;
	overflow: hidden;
	margin-top: -200px;
}

#res{
	display: inline-block;
	width: 52px;
	height: 48px;
	background:url(../Imagen/logoU.png); 
}

#logo-header{
	display: inline-block;
}

.clss{
	float: left;
}

#dvSlider{
	width:100%;
	height: 425px;
	background: url(../Imagen/slider.png);
	/*overflow: hidden;
	vertical-align: top;*/


}
/*cuadro que contiene juegos maS vendidos*/
#e63JueDestac{
	width: 100%;
	height: 55px;
	background:#1C1C1C;
	font-size: 28px;
	
	padding-top: -18px;
	color: #FFF;
	
	text-align: center;
	margin-top: 2px;

}



/*contenedor de buscar*/
.container{
	list-style: none;
	width: 100%;
	height: 533px;
	background: #585858;
	
	margin-top:0;
	overflow-y: scroll;

	
	 

}


#boton{
	float: right;
	margin-right: 1%;
	margin-top: 1%;
}

.juuego{
	list-style: none;
	width: 30%;
	height: 133px;
	background: #585858;
	
	margin-top:0;


	
	 

}
#txtbuscar{
	border-radius: 60px;
	width: 50%;
	height: 20px;
	margin-top: 16px;
}



/*cuadro que comntiene juegois mas vendidos */
#ulNoticJuer{
	list-style: none;
	width: 100%;
	height: 500px;
	background: #848484;
	
	margin-top: 2px;


}

/*cuadro donde contiene juegos mas destacados*/



input[type=text]{
	border: none;
	background: #fff;
	color: #fff;
	width: 40%;
	padding: 5px;
	margin-left: 45px;
}

form{
	width: 98%;
	
	
	padding: 2px 0;
	text-align: center;
	margin-bottom: 20px;
}


#fom4 input{
color: #000;
}

#dv_index{

	overflow: hidden;
	vertical-align: top;
}

.cl_incioo{
	margin-top: 30px !important;
	width: 100%;
	height: 450px;


}

#menus li{

	text-align: right;
	float: right;

}

.misa a{
	text-align: cen
}

.condicion_juego {
    margin-bottom: 20px;
    position: relative;
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 5px 1px;
    background-color: #F0F0F0;
    width: 100%;
}


.cont_cela_8 {
    padding: 15px 10px;
    text-align: left;
    font-size: 10px;
    color: #999999;
    border-bottom: 1px solid #C0C0C0;
}

.cont_cela_9 {
    padding: 15px 10px;
    max-height: 100px;
    font-size: 10px;
    color: #999999;
    border-bottom: 1px solid #C0C0C0;
    text-align: center;
}

.cont_cela_10 {
    padding: 15px 10px;
    max-height: 120px;
    font-size: 10px;
    color: #999999;
    border-bottom: 1px solid #C0C0C0;
    text-align: center;
}

.cont_cela_11 {
    padding: 15px 10px;
    max-height: 259px;
    font-size: 10px;
    color: #999999;
    border-bottom: 1px solid #C0C0C0;
    text-align: center;
    background: peachpuff;
}

.cont_cela_8 {
    padding: 15px 10px;
    text-align: left;
    font-size: 10px;
    color: #999999;
    border-bottom: 1px solid #C0C0C0;
}


.titulos h4 {
    margin-left: 50px;
    line-height: 40px;
    color: #fff;
    font-weight: normal;
}

.condicion_juego {
    margin-bottom: 20px;
    position: relative;
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 5px 1px;
    background-color: #F0F0F0;
    width: 100%;
}




.search_catalogo {
    width: 95%;
    float: left;
    padding: 25px 19px 5px 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}






.modal {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 560px;
    margin-left: -280px;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}


.modal-body_comprar_creditos {
    position: relative;
    padding: 15px;
    overflow-y: auto;
}